In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('/Users/rustem/Desktop/events filters к тестовому Product Analyst Q1 2024.csv')

In [3]:
data

,event_category,event_action,event_label,total_events,unique_events
0,city_landing,price_button_submit,Tula / Показать предложения (11),8,7
1,city_landing,price_button_submit,Sochi / Показать предложения (39),12,10
2,city_landing,search-tools-button_open,Penza / Сортировка,2,2
3,city_landing,filters-categories_click,Gelendzhik / ЭКСКУРСИИ В ГЕЛЕНДЖИКЕ ЦЕНЫ,1,1
4,city_landing,price_button_submit,Moscow / Показать предложения (345),2,2
...,...,...,...,...,...
19087,city_landing,search-tools-button_open,Istanbul / ЭКСКУРСИИ В СТАМБУЛЕ,38,32
19088,city_landing,filters-categories_click,Ufa / Пешеходные,3,3
19089,city_landing,search-tools-button_open,Yerevan / Фильтры Выбрано: 0,16,16
19090,city_landing,price_button_submit,Pskov / Показать предложения (35),7,7
19091,City Page,Page Visit,Auckland,33,25

In [4]:
import re

# Функция для извлечения названия города из event_label
def extract_city(event_label):
    # Используем регулярное выражение для поиска названия города
    match = re.search(r'([^/]+)', event_label)
    if match:
        return match.group(1).strip()  # Возвращаем найденное название города без лишних пробелов
    else:
        return 'Unknown'  # Если название города не найдено, возвращаем 'Unknown'

# Применяем функцию extract_city к столбцу event_label и создаем новый столбец city
data['city'] = data['event_label'].apply(extract_city)

# Выводим первые строки данных для проверки
data.head(10)

,event_category,event_action,event_label,total_events,unique_events,city
0,city_landing,price_button_submit,Tula / Показать предложения (11),8,7,Tula
1,city_landing,price_button_submit,Sochi / Показать предложения (39),12,10,Sochi
2,city_landing,search-tools-button_open,Penza / Сортировка,2,2,Penza
3,city_landing,filters-categories_click,Gelendzhik / ЭКСКУРСИИ В ГЕЛЕНДЖИКЕ ЦЕНЫ,1,1,Gelendzhik
4,city_landing,price_button_submit,Moscow / Показать предложения (345),2,2,Moscow
5,city_landing,clear_filter_mobile,Vienna,12,11,Vienna
6,city_landing,start_date_click,Vilnius,9,4,Vilnius
7,city_landing,ticket-type_checkbox,Irkutsk / Мини-группа,29,26,Irkutsk
8,city_landing,price_button_submit,Vladivostok / Показать предложения (28),3,3,Vladivostok
9,city_landing,filters-categories_click,Krakow / Необычные,3,3,Krakow

In [5]:
# Удаление столбца event_label
data.drop('event_label', axis=1, inplace=True)
data.head(10)

,event_category,event_action,total_events,unique_events,city
0,city_landing,price_button_submit,8,7,Tula
1,city_landing,price_button_submit,12,10,Sochi
2,city_landing,search-tools-button_open,2,2,Penza
3,city_landing,filters-categories_click,1,1,Gelendzhik
4,city_landing,price_button_submit,2,2,Moscow
5,city_landing,clear_filter_mobile,12,11,Vienna
6,city_landing,start_date_click,9,4,Vilnius
7,city_landing,ticket-type_checkbox,29,26,Irkutsk
8,city_landing,price_button_submit,3,3,Vladivostok
9,city_landing,filters-categories_click,3,3,Krakow

In [6]:
data = data[data['event_action'] == 'price_button_submit']

data

,event_category,event_action,total_events,unique_events,city
0,city_landing,price_button_submit,8,7,Tula
1,city_landing,price_button_submit,12,10,Sochi
4,city_landing,price_button_submit,2,2,Moscow
8,city_landing,price_button_submit,3,3,Vladivostok
10,city_landing,price_button_submit,10,9,Sochi
...,...,...,...,...,...
19076,city_landing,price_button_submit,6,6,Kusadasi
19077,city_landing,price_button_submit,3,2,Istanbul
19078,city_landing,price_button_submit,27,24,Sharm-el-Sheikh
19082,city_landing,price_button_submit,1,1,Istanbul
19090,city_landing,price_button_submit,7,7,Pskov

In [7]:
# Сгруппировать данные по городам и суммировать метрики
grouped_data = data.groupby('city').agg({
    'total_events': 'sum',
    'unique_events': 'sum'
}).reset_index()

data.head(10)

,event_category,event_action,total_events,unique_events,city
0,city_landing,price_button_submit,8,7,Tula
1,city_landing,price_button_submit,12,10,Sochi
4,city_landing,price_button_submit,2,2,Moscow
8,city_landing,price_button_submit,3,3,Vladivostok
10,city_landing,price_button_submit,10,9,Sochi
14,city_landing,price_button_submit,27,26,Sharm-el-Sheikh
17,city_landing,price_button_submit,14,12,Istanbul
19,city_landing,price_button_submit,4,3,Moscow
20,city_landing,price_button_submit,1,1,Olkhon
24,city_landing,price_button_submit,4,4,Tbilisi

In [8]:
grouped_data

             city  total_events  unique_events
0          Abakan            11              9
1        Abkhazia             6              4
2     Abrau-Durso            41             40
3       Abu Dhabi            23             21
4           Adler          1346           1166
..            ...           ...            ...
358   bogolyubovo             1              1
359       podolsk             2              2
360  service-city             1              1
361      yantarny             4              4
362       zaraysk             3              3

[363 rows x 3 columns]

In [9]:
# Сумма значений столбца unique_events
total_unique_events_1 = grouped_data['unique_events'].sum()

# Вывод результата
print("Сумма значений столбца 'unique_events':", total_unique_events_1)

Сумма значений столбца 'unique_events': 63063

In [10]:
#Мы таким образом проверили другим способом ответ на 1-ый вопрос о том, сколько пользователей используют фильтры. 
#Под использованием я принимаю то, что они нажимают применить фильтры (price_button_submit)

In [14]:
# Сортировка данных по столбцу unique_events в порядке убывания
top_cities = grouped_data.sort_values(by='unique_events', ascending=False)

# Выбор первых 50 городов, где фильтры популярны
top_10_cities = top_cities.head(50)

# Вывод результата
top_50_cities

                 city  total_events  unique_events
132       Kaliningrad          6113           5222
262  Saint Petersburg          5601           5028
197            Moscow          3598           3176
286             Sochi          3286           2909
124          Istanbul          2778           2357
81              Dubai          2406           2095
53           Budapest          2154           1843
139             Kazan          2072           1839
13              Anapa          1837           1619
278   Sharm-el-Sheikh          1661           1440
145        Kislovodsk          1482           1290
249        Pyatigorsk          1401           1202
4               Adler          1346           1166
276        Sevastopol          1253           1096
304           Tbilisi          1296           1081
336       Vladikavkaz          1225           1064
118          Hurghada          1087            978
14            Antalya          1058            946
346             Yalta          1034            907
211   Nizhny Novgorod           945            836
203           Nalchik          1031            811
349           Yerevan           880            767
87       Ekaterinburg           873            765
140             Kemer           799            698
6              Alanya           787            692
10            Alushta           719            606
153         Krasnodar           644            583
179       Makhachkala           624            556
159              Kyiv           584            548
246             Pskov           634            539
74              Crete           589            504
75             Cyprus           541            494
347         Yaroslavl           557            474
350        Yessentuki           534            467
194             Minsk           516            464
279              Side           519            460
328   Veliky Novgorod           528            459
123           Irkutsk           506            437
265            Samara           480            429
243            Prague           453            396
200          Murmansk           441            369
101        Gelendzhik           391            355
254              Rome           408            353
339         Volgograd           372            317
256     Rostov-on-Don           338            313
337          Vladimir           363            305
234      Petrozavodsk           340            304
315              Tula           336            300
22          Ayia Napa           330            293
342            Vyborg           313            293

В Топ-3 вошли: Калининград, Санкт-Петербург и Москва

In [15]:
# Сортировка данных по столбцу unique_events в порядке убывания
end_cities = grouped_data.sort_values(by='unique_events')

# Выбор 50 городов, где пользуются наименьшее количество раз фильтрами
end_50_cities = end_cities.head(50)

# Вывод результата
end_50_cities

                city  total_events  unique_events
225            Parma             1              1
183         Marbella             1              1
268    San Francisco             2              1
127          Izborsk             1              1
187         Medellin             1              1
218  Orekhovo-Zuyevo             1              1
247             Pula             1              1
122        Innsbruck             1              1
302           Tarusa             1              1
39       Belokurikha             2              1
79              Doha             1              1
41         Bethlehem             1              1
42           Bibione             1              1
298        Sviyazhsk             1              1
120            Ibiza             1              1
226         Partenit             1              1
48            Bremen             1              1
284        Singapore             1              1
281          Sigulda             1              1
206         Nevyansk             1              1
196         Montreal             1              1
113         Hannover             1              1
261            Rzhev             3              1
59          Cambodia             1              1
272         Scotland             1              1
67            Chemal             1              1
311         Tolyatti             1              1
29           Bamberg             2              1
269    San Sebastian             1              1
182           Manama             1              1
161        Las Vegas             1              1
90              Faro             1              1
163          Leipzig             1              1
360     service-city             1              1
345        Wiesbaden             1              1
129            Izmir             1              1
11             Amman             1              1
147         Kobuleti             1              1
146             Klin             1              1
164            Lhasa             1              1
15           Antwerp             1              1
332          Vicenza             1              1
170    Lloret de Mar             1              1
174            Macau             1              1
324           Valdai             1              1
239          Plovdiv             1              1
21          Auckland             1              1
85         Edinburgh             1              1
23       Baden-Baden             1              1
317          Tuscany             1              1

Видим, что есть достаточно большое число городов с одинаковым минимальным значением применения фильтров.